@import "tailwindcss";

html,
body {
    background: #EEEEEE;
    @apply m-auto w-full p-4 font-normal leading-none;
    font-family: "Epilogue", sans-serif;
    font-optical-sizing: auto;
}

a {
    @apply underline;
}

h1, .h1 {
    @apply text-6xl text-balance max-w-prose tracking-tighter leading-none;
}

h2, .h2 {
    @apply text-2xl text-pretty max-w-prose tracking-tight leading-[1.2];
}

h3, .h3 {
    @apply uppercase font-medium;
}
p {
    @apply text-lg mb-4 text-pretty max-w-prose;
}

hr {
    @apply my-4 border-black border-2 w-20;
}

ul {
    @apply flex flex-wrap gap-x-2.5 gap-y-4;
}

li {
    @apply bg-white text-2xl px-4 py-2 pb-1 text-center relative overflow-hidden tracking-tight;
}

.getting-started li:first-child {
    @apply bg-[#AFA0FF] cursor-pointer;
}

.getting-started li:nth-child(2) {
    @apply bg-[#FFD029] cursor-pointer;
}

li::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    cursor: pointer;
    background:
        linear-gradient(to top,
            #FFD029 0%, #FFD029 20%,
            #FF31FC 20%, #FF31FC 40%,
            #00B371 40%, #00B371 60%,
            #AFA0FF 60%, #AFA0FF 80%,
            #69A8FF 80%, #69A8FF 100%);
    transform: translateY(100%);
    transition: transform 0.7s ease-in-out;
    z-index: 0;
}

li:hover::before {
    transform: translateY(-100%);
}

/* li:hover {
    @apply rounded-full;
} */

a {
    @apply no-underline;
}

.fw-sketch-frame {
    position: absolute;
    width: 395px;
    height: 170px;
    overflow: hidden;
    cursor: grabbing;
}

.fw-sketch {
    position: absolute;
    left: -52%;
    top: calc(-50% - 42px);
    transform: scale(0.5);
    pointer-events: none;
}