---
import BasicLayout from "../layouts/BasicLayout.astro";
import BackButton from "../components/BackButton.astro";
---

<BasicLayout title="Combinatory Poetry">
  <BackButton />
  <h1>
    <div class="sketch-frame">
      <iframe
        class="sketch adjective"
        src="https://editor.p5js.org/niktari/full/QpmP67KT8"
        width="800px"
        height="400px"></iframe>
    </div>
    <div class="sketch-frame">
      <iframe
        class="sketch noun"
        src="https://editor.p5js.org/niktari/full/QpmP67KT8"
        width="800px"
        height="400px"></iframe>
    </div>
    <div class="sketch-frame">
      <iframe
        class="sketch verb"
        src="https://editor.p5js.org/niktari/full/QpmP67KT8"
        width="800px"
        height="400px"></iframe>
    </div>
    <span>through the</span>
    <div class="sketch-frame">
      <iframe
        class="sketch adjective"
        src="https://editor.p5js.org/niktari/full/QpmP67KT8"
        width="800px"
        height="400px"></iframe>
    </div>
    <div>
      <div class="sketch-frame">
        <iframe
          class="sketch noun"
          src="https://editor.p5js.org/niktari/full/QpmP67KT8"
          width="800px"
          height="400px"></iframe>
      </div><span>,</span>
    </div>
    <span>like a</span>
    <div class="sketch-frame">
      <iframe
        class="sketch adjective"
        src="https://editor.p5js.org/niktari/full/QpmP67KT8"
        width="800px"
        height="400px"></iframe>
    </div>
    <div>
      <div class="sketch-frame">
        <iframe
          class="sketch noun"
          src="https://editor.p5js.org/niktari/full/QpmP67KT8"
          width="800px"
          height="400px"></iframe>
      </div><span>.</span>
    </div>
    <span>Everything</span>
    <div class="sketch-frame">
      <iframe
        class="sketch verb"
        src="https://editor.p5js.org/niktari/full/QpmP67KT8"
        width="800px"
        height="400px"></iframe>
    </div>
    <span>when the</span>
    <div class="sketch-frame">
      <iframe
        class="sketch adjective"
        src="https://editor.p5js.org/niktari/full/QpmP67KT8"
        width="800px"
        height="400px"></iframe>
    </div>
    <div class="sketch-frame">
      <iframe
        class="sketch noun"
        src="https://editor.p5js.org/niktari/full/QpmP67KT8"
        width="800px"
        height="400px"></iframe>
    </div>
    <div>
      <div class="sketch-frame">
        <iframe
          class="sketch verb"
          src="https://editor.p5js.org/niktari/full/QpmP67KT8"
          width="800px"
          height="400px"></iframe>
      </div><span>.</span>
    </div>
  </h1>
  <style>
    h1 {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 12px;
      width: 100%;
      font-weight: normal;
      line-height: 2.5;
    }

    span,
    div {
      vertical-align: middle;
    }

    .sketch-frame {
      position: relative;
      display: inline-block;
      width: 395px;
      height: 170px;
      overflow: hidden;
    }

    .sketch {
      position: absolute;
      left: -52%;
      top: calc(-50% - 42px);
      transform: scale(0.5);
    }
  </style>
  <script>
    let sheetID = "1-rGe4Pay2CRDUrB7O4yqEvgaQsd2ePNPdxqOejpIjMM";
    let tabName = "Sheet1";
    let myURL = `https://opensheet.elk.sh/${sheetID}/${tabName}`;

    let adjs = document.querySelectorAll(".adjective");
    let nouns = document.querySelectorAll(".noun");
    let verbs = document.querySelectorAll(".verb");

    async function getData() {
      try {
        let response = await fetch(myURL);
        let data = await response.json();

        let adjectiveData = data.filter(
          (item) => item.wordClass === "adjective"
        );
        let nounData = data.filter((item) => item.wordClass === "noun");
        let verbData = data.filter((item) => item.wordClass === "verb");

        generateSketches(adjs, adjectiveData);
        generateSketches(nouns, nounData);
        generateSketches(verbs, verbData);
      } catch (error) {
        console.error(error);
      }
    }

    function generateSketches(elements, wordData) {
      if (wordData.length === 0) {
        console.warn("No matching data found.");
        return;
      }

      elements.forEach((el) => {
        let randomItem = wordData[Math.floor(Math.random() * wordData.length)];
        el.src = randomItem.sketchLink;
      });
    }

    getData();
  </script>
</BasicLayout>
