<a class="back-button h3" href="/">Back</a>
<style>
  .back-button {
    position: absolute;
    top: 1rem;
    left: 1rem;
    background: #fff;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding-top: 0.25em;
    z-index: 9999 !important;
    border: none;
    /* font-size: 24px; */
    cursor: pointer;
    /* transform: rotate(180deg); */
    opacity: 0.5;
  }

  .back-button:hover {
    opacity: 1;
    cursor: pointer !important;
  }
</style>
