---
const { title } = Astro.props;
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Combinatory Poetry with Variable Fonts 2025</title>
  </head>
  <body>
    <slot />
    <!-- <footer>
      Copyright &copy; {new Date().getFullYear()}
      <a href="https://munusandniktari.com">Free 99 (Munus & Niktari)</a>. This
      workshop is part of typographics Type lab 2025
    </footer> -->
  </body>
</html>
